.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 265px;
}



.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 10000;
}
.botonesPerfil{
  width: 108px;
  text-align: center;
  margin-bottom: 3px;
}