<div class="container-fluid margin-top">
    <div *ngIf="cargando" class="cargando ">
        <mat-spinner class="spinner"></mat-spinner>
        <h3>Cargando elementos...</h3>
    </div>
    <div class="row tituloFam">
        <div class="col-lg-12">
            <div class="">
                <h4>Catalogo de familias disponibles</h4>
                <hr>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6" *ngFor="let familia of familias">
            <mat-card class="card-familias">
                <h3>{{familia.nombre}}</h3>
                <span> <strong>Id:</strong></span> <span> {{familia._id}}</span>
            </mat-card>
        </div>
    </div>

</div>