<app-cargando *ngIf="cargando" texto="Cargando familias.."></app-cargando>
<app-cargando *ngIf="cargandoAgregar" texto="Agregando familia.."></app-cargando>
<mat-toolbar>
    <button mat-button matTooltip="Agregar nueva familia" class="agregarFamilia" (click)="abrirAgregarFamilia()">
        <mat-icon>add</mat-icon> Nueva familia
    </button>
</mat-toolbar>
<div class="container-fluid margin-top">
    <div class="row">
        <div class="col-lg-3 col-md-6" *ngFor="let familia of familias; let i = index">
            <mat-card class="card-familias">
                <button class="eliminarFamilia" (click)="abrirEliminarFamilia(i)" mat-icon-button color="warn">
                    <mat-icon>close</mat-icon>
                </button>
                <h3>{{familia.nombre}}</h3>
                <span> <strong>Id:</strong></span> <span> {{familia._id}}</span> <br>
                <span>{{familia.productos.length}} productos</span>
            </mat-card>
        </div>
    </div>

</div>