<app-encabezado-titulo titulo="Ventas"></app-encabezado-titulo>
<mat-tab-group style="width:100%" dynamicHeight>
    <mat-tab label="Reportes">
        <ng-template matTabContent>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6 margen">
                        <app-reporte-ventas-mes></app-reporte-ventas-mes>
                    </div>
                    <div class="col-lg-4 margen">
                        <app-reporte-ventas-dia></app-reporte-ventas-dia>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12">
                        <app-reporte-ventas-fecha></app-reporte-ventas-fecha>
                    </div>
                </div>
            </div>
        </ng-template>
    </mat-tab>
    <mat-tab label="Corte de caja">
        <ng-template matTabContent>
            <div class="col-lg-12 margen">
                <app-corte-caja></app-corte-caja>
            </div>
        </ng-template>
    </mat-tab>
    <mat-tab label="Historial de cortes de caja">
        <ng-template matTabContent>
            <div class="col-lg-12 margen">
                <app-historial-cortes-caja></app-historial-cortes-caja>
            </div>
        </ng-template>
    </mat-tab>
</mat-tab-group>
