<app-encabezado-titulo titulo="Proveedores"></app-encabezado-titulo>
<mat-tab-group>
    <mat-tab label="Dar de alta">
        <ng-template matTabContent>
            <app-proveedores-alta></app-proveedores-alta>
        </ng-template>
    </mat-tab>
    <mat-tab label="Dar de baja">
        <ng-template matTabContent>
            <app-proveedores-baja></app-proveedores-baja>
        </ng-template>
    </mat-tab>
    <mat-tab label="Editar proveedor">
        <ng-template matTabContent>
            <app-proveedores-editar></app-proveedores-editar>
        </ng-template>
    </mat-tab>
    <mat-tab label="Restaurar proveedores eliminados">
        <ng-template matTabContent>
            <app-proveedores-restaurar></app-proveedores-restaurar>
        </ng-template>
    </mat-tab>
    <mat-tab label="Nuevo producto">
        <ng-template matTabContent>
            <app-proveedores-agregar-producto></app-proveedores-agregar-producto>
        </ng-template>
    </mat-tab>
    <mat-tab label="Editar producto">
        <ng-template matTabContent>
            <app-proveedores-editar-producto></app-proveedores-editar-producto>
        </ng-template>
    </mat-tab>
    <mat-tab label="Restaurar producto eliminado">
        <ng-template matTabContent>
            <app-proveedores-restaurar-producto></app-proveedores-restaurar-producto>
        </ng-template>
    </mat-tab>
</mat-tab-group>