<div class="container">
    <div class="row">
        <div class="col-12">
            <mat-card class="sin-borde margin-top">
                <form #clienteForm="ngForm" class="formCliente">
                    <h3 class="text-center">Registrar cliente</h3>
                    <div class="row text-center">
                        <div class="col-lg-12 col-md-12">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Ingresa tu nombre</mat-label>
                                <input matInput placeholder="Nombres de pila">
                                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                <mat-hint>Nombre</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Ingresa tu apellido paterno</mat-label>
                                <input matInput placeholder="Apellido paterno">
                                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                <mat-hint>Apellido paterno</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Ingresa tu apellido materno</mat-label>
                                <input matInput placeholder="Apellido materno">
                                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                <mat-hint>Apellido materno</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Ingresa tu correo electronico</mat-label>
                                <input matInput type="email" placeholder="Correl electronico">
                                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                <mat-hint>Correo electronico</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Ingresa un nombre de usuario</mat-label>
                                <input matInput type="text" placeholder="Username">
                                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                <mat-hint>Nombre de usuario</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Ingresa tu telefono</mat-label>
                                <input matInput type="number" placeholder="Telefono personal">
                                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                <mat-hint>Telefono</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6 col-md-6" style="margin-bottom: 10px;">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Ingresa tu razon social</mat-label>
                                <input matInput type="text" placeholder="Razon social">
                                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                <mat-hint>Razon social</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="col-12 text-left">
                            <h5 style="margin-top: 10px;"> ¿Se necesita factura? </h5>
                            <mat-slide-toggle color="primary" (change)="onChange($event)" checked="false">{{conFactura}}
                            </mat-slide-toggle>

                        </div>
                        <div *ngIf="conFactura == 'Si'" class="col-12">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Ingresa tu rfc</mat-label>
                                <input [(ngModel)]="cliente.rfc" #rfc="ngModel" name="rfc" matInput type="text"
                                    placeholder="Rfc">
                                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                <mat-hint>RFC</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="col-12 text-left">
                            <h5 style="margin-top: 10px;"> Domicilio</h5>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Ingresa tu estado</mat-label>
                                <mat-select [(ngModel)]="estado" name="estado">
                                    <mat-option (click)="buscarMunicipios(cliente.estado)"
                                        *ngFor="let estado of estados" [value]="estado">
                                        {{estado.nombre}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <mat-progress-bar *ngIf="cargando" mode="indeterminate"></mat-progress-bar>
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Ingresa tu municipio</mat-label>
                                <mat-select [(ngModel)]="municipio" name="municipio">
                                    <mat-option (click)="setMunicipio()" *ngFor="let municipio of municipios"
                                        [value]="municipio">
                                        {{municipio.nombre}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <!--<mat-form-field class="full-width" appearance="outline">
                                    <mat-label>Ingresa tu municipio</mat-label>
                                    <input matInput placeholder="Municipio" aria-label="Municipio"
                                        [matAutocomplete]="auto" [formControl]="controlMunicipio">
                                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                    <mat-hint>Municipio</mat-hint>
                                    <mat-autocomplete #auto="matAutocomplete">
                                        <mat-option *ngFor="let municipio of municipiosFiltrados | async"
                                            [value]="municipio.nombre">
                                            <span>{{municipio.nombre}}</span>
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>-->
                        </div>


                        <div class="col-lg-6 col-md-6">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Ingresa tu direccion</mat-label>
                                <input matInput type="text" placeholder="Direccion">
                                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                <mat-hint>Direccion</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Ingresa tu colonia</mat-label>
                                <input matInput type="text" placeholder="Colonia">
                                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                <mat-hint>Colonia</mat-hint>
                            </mat-form-field>
                        </div>

                    </div>
                </form>
            </mat-card>

        </div>
    </div>
</div>