@import 'variables';
mat-radio-group{
    display: flex;
  flex-direction: column;
  margin: 15px 0;
}
mat-radio-button{
    margin: 5px;
}
.precio{
  font-size: 15px;
}
.precio-titulo{
  font-size: 20px;
}
.cancelar{
  position: absolute;
  right: 0;
  margin-top:3% ;
}
.aceptar{
  position: absolute;
  left: 0;
  margin-top: 3%;
}
.cerrar{
  position: absolute;
  right: 0;
  cursor: pointer;
  top: 0;
}
.contenedor-productos{
  background-color: $light-gray-color2;
  height: 400px;
}
.items{
  padding-top: 40%;
}