<app-barra-cargando [cargando]="cargando"></app-barra-cargando>
<mat-toolbar>
    <mat-form-field style="font-size: 13px; width: 40%;" class="mt-4 mx-auto" appearance="outline">
        <mat-label>Buscar producto</mat-label>
        <input matInput [(ngModel)]="busquedaProducto" placeholder="Buscar por nombre">
        <button *ngIf="busquedaProducto" (click)="borrarBusqueda()" mat-button matSuffix mat-icon-button
            aria-label="Clear">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <mat-paginator color="primary" #paginator [length]="productosProveedor.length" [pageSize]="page_size"
        (page)="manejarPaginacion($event)">
    </mat-paginator>
</mat-toolbar>
<div class="container-fluid mh-100">
    <div class="row">
        <div class="col-lg-12">
            <mat-card class="margin-top mb-4">
                <mat-drawer-container class="example-container" >
                    <mat-drawer #drawer class="example-sidenav" mode="side" [opened]="true">
                        <mat-list>
                            <ng-container *ngFor="let proveedor of listaProveedores; let i = index">
                                <mat-list-item class="items" (click)="activarPestana(i)"
                                    [ngClass]="{'activa':pestanasActivas[i] == true }">{{proveedor.nombre}}
                                </mat-list-item>
                                <mat-divider></mat-divider>
                            </ng-container>
                        </mat-list>
                    </mat-drawer>

                    <div class="contentido">
                        <button mat-mini-fab class="botonToggle" (click)="drawer.toggle()">
                            <mat-icon *ngIf="drawer.opened">arrow_back</mat-icon>
                            <mat-icon *ngIf="!drawer.opened">arrow_forward</mat-icon>
                        </button>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h5 class="text-center mt-3">{{titulo}}</h5>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-lg-12 mx-auto">
                                    <div class="row con-productos"
                                        *ngIf="productosProveedor && productosProveedor.length > 0">
                                        <div class="col-lg-3 mb-4 d-flex "
                                            *ngFor="let producto of productosProveedor | filtroProductos:busquedaProducto | paginacion:page_size:page_number">
                                            <mat-card class="card sin-borde mt-2">
                                                <button class="eliminar" mat-raised-button mat-icon-button color="warn"
                                                    (click)="confirmarEliminacion(producto)">
                                                    <mat-icon>close</mat-icon>
                                                </button>
                                                <img class="card-img-top img-fluid"
                                                    src="../../../../assets/imagenes/profile_user.gif">
                                                <div class="card-body">
                                                    <h5 class="card-title">{{producto.nombre}}</h5>
                                                    <h6 class="card-subtitle mb-2 text-muted">${{producto.costo}}
                                                    </h6>
                                                    <p class="card-text">{{producto.detalles}}</p>
                                                    <button mat-raised-button color="primary"
                                                        (click)="abrirEditarProducto(producto)">Editar</button>
                                                </div>
                                            </mat-card>
                                        </div>
                                    </div>
                                    <div class="row sin-productos"
                                        *ngIf="!productosProveedor || productosProveedor.length == 0">
                                        <div class="col-lg-12">
                                            <h5>No existen productos registrados de este proveedor</h5>
                                            <h6 class="text-muted">Dirigete a Nuevo producto para registrar uno.</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-drawer-container>
            </mat-card>
        </div>
    </div>
</div>