@import 'variables';

  .sidebar {
      padding: 0%;
  } 
 
  mat-card{
      padding: 0%;
      mat-drawer-container{
        background-color: #ffffff;
        height: 200vh;
        mat-drawer{
            width: 30%;  
           
                mat-list{
                    height: 100%;
                    padding: 0%;
                    white-space:nowrap;
                    text-overflow: ellipsis;  
                    overflow: hidden;
                    overflow-y: hidden;                  
                    mat-list-item{
                        cursor: pointer;
                        &:hover{
                            border-left: 2px solid $primary;
                            transition: all .3s ease;
                        }
                    }
                }
            
        }
        .contenido{
            width: 70%;
        }
      }
  }
  .activa{
    border-left: 2px solid $primary;
  }
  .botonToggle{
      position: absolute;
      z-index: $index-alto;
      left: 0;
      top: 0;
      margin-left: 1%;
      margin-top: 1%;
  }
  .eliminar{
      position: absolute;
      right: 0;
      top: 0;
      margin-top: 1%;
      margin-right: 1%;
  }
  mat-toolbar{
      background-color: #ffffff;
  }
