<mat-sidenav-container class="sidenav-container" *ngIf="autenticacionService.estaAutenticado()">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="primary">
      Menu
    </mat-toolbar>
    <mat-nav-list>
      <mat-list>
        <h3 mat-subheader>SECCIONES</h3>
        <mat-list-item routerLink="/admin/ventas/reportes-ventas">
          <mat-icon mat-list-icon>credit_card</mat-icon>
          <h5 mat-line>Ventas</h5>
        </mat-list-item>
        <mat-list-item >
          <mat-icon mat-list-icon>credit_card</mat-icon>
          <h5 mat-line>Compras</h5>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>credit_card</mat-icon>
          <h5 mat-line>Inventario</h5>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>credit_card</mat-icon>
          <h5 mat-line>Finanzas</h5>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
      <mat-list>
        <h3 mat-subheader>ABC</h3>
        <mat-list-item>
          <mat-icon mat-list-icon>credit_card</mat-icon>
          <h5 mat-line>Clientes</h5>
        </mat-list-item>
        <mat-list-item routerLink="/admin/usuarios">
            <mat-icon mat-list-icon>credit_card</mat-icon>
            <h5 mat-line>Usuarios</h5>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>credit_card</mat-icon>
          <h5 mat-line>Proveedores</h5>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>credit_card</mat-icon>
          <h5 mat-line>Activos</h5>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>credit_card</mat-icon>
          <h5 mat-line>Familias</h5>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>credit_card</mat-icon>
          <h5 mat-line>Productos</h5>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>credit_card</mat-icon>
          <h5 mat-line>Compras</h5>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>credit_card</mat-icon>
          <h5 mat-line>Inventario</h5>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
      <mat-list>
        <h3 mat-subheader>Informacion</h3>
        <mat-list-item routerLink="/admin/info/familias">
          <mat-icon mat-list-icon>credit_card</mat-icon>
          <h5 mat-line>Catalogo de familias</h5>
        </mat-list-item>
        <mat-list-item routerLink="/admin/info/productos">
          <mat-icon mat-list-icon>credit_card</mat-icon>
          <h5 mat-line>Catalogo de productos</h5>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>credit_card</mat-icon>
          <h5 mat-line>Sucursales</h5>
        </mat-list-item>
      </mat-list>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Administrador</span>
      <span class="espaciador"></span>
      <button mat-button class="botonesPerfil">Editar perfil</button>
      <button mat-button class="botonesPerfil" (click)="cerrarSesion()">Cerrar
        sesion</button>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>