<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="primary">
      Menu
    </mat-toolbar>
    <mat-nav-list>

      <mat-list>
        <h3 mat-subheader>Reportes</h3>
        <mat-list-item>
          <mat-icon mat-list-icon>credit_card</mat-icon>
          <h5 mat-line>Ventas</h5>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>credit_card</mat-icon>
          <h5 mat-line>Compras</h5>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>credit_card</mat-icon>
          <h5 mat-line>Inventario</h5>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>credit_card</mat-icon>
          <h5 mat-line>Finanzas</h5>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
      <mat-list>
        <h3 mat-subheader>ABC</h3>
        <mat-list-item>
          <mat-icon mat-list-icon>credit_card</mat-icon>
          <h5 mat-line>Clientes</h5>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>credit_card</mat-icon>
          <h5 mat-line>Usuarios</h5>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>credit_card</mat-icon>
          <h5 mat-line>Proveedores</h5>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>credit_card</mat-icon>
          <h5 mat-line>Activos</h5>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>credit_card</mat-icon>
          <h5 mat-line>Productos</h5>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>credit_card</mat-icon>
          <h5 mat-line>Compras</h5>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>credit_card</mat-icon>
          <h5 mat-line>Inventario</h5>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
      <mat-list>
        <h3 mat-subheader>Informacion</h3>
        <mat-list-item>
          <mat-icon mat-list-icon>credit_card</mat-icon>
          <h5 mat-line>Catalogo de familias</h5>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>credit_card</mat-icon>
          <h5 mat-line>Catalogo de productos</h5>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>credit_card</mat-icon>
          <h5 mat-line>Sucursales</h5>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
      <mat-list>
        <h3 mat-subheader>Opciones de perfil</h3>
        <mat-list-item>
          <div class="row">
            <div class="col-6">
              <button mat-raised-button color="primary" class="botonesPerfil">Editar perfil</button>
            </div>
            <div class="col-6">
              <button mat-raised-button color="warn" class="botonesPerfil">Cerrar sesion</button>
            </div>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Administrador</span>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>