<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 margin-top titulo">
            <h3 style="text-align: center;">Seccion de empleados</h3>
        </div>
        <div class="col-lg-12">
            <mat-accordion class="example-headers-align">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Consulta de usuario</mat-panel-title>
                        <mat-panel-description>
                            Consulta detalles de un usuario
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <app-empleado-consulta></app-empleado-consulta>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Alta de usuario</mat-panel-title>
                        <mat-panel-description>
                            Crea un usuario nuevo
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <app-empleado-alta></app-empleado-alta>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Baja de usuario</mat-panel-title>
                        <mat-panel-description>
                            Elimina un usuario existente
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <app-empleado-baja></app-empleado-baja>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>