@import 'variables';
.loginCard{
    width: 100%;
    height: 600px;
}
.loginBoton{
    width: 100%;
    height: 60px;
}
.contenedor-principal{
    background-color: $light-gray-color2;
}
.toolbar{
    height: 250px;
    position: absolute;
}