$main-text-color: #484848;
$light-gray-color: #797474;
$light-gray-color2: rgb(230, 232, 240);

//$primary: ;
$success:#5cb85c;
$info: #5bc0de;
$warn: #f0ad4e;
$danger: #d9534f;
$primary: #303f9f;

//z-index
$index-alto: 10000000000000000000000;
$index-normal: 0;
$index-bajo: -1;