<app-encabezado-titulo titulo="Clientes"></app-encabezado-titulo>
<mat-tab-group style="height: 100%;">
    <mat-tab label="Dar de alta">
        <ng-template matTabContent>
            <div class="col-lg-12 contenedores">
                <app-clientes-alta></app-clientes-alta>
            </div>
        </ng-template>
    </mat-tab>
    <mat-tab label="Dar de baja">
        <ng-template matTabContent>
            <div class="col-lg-12 contenedores">
                <app-clientes-baja></app-clientes-baja>
            </div>
        </ng-template>
    </mat-tab>
    <mat-tab label="Consultar cliente">
        <ng-template matTabContent>
            <div class="col-lg-12 contenedores">
                <app-clientes-consulta></app-clientes-consulta>
            </div>
        </ng-template>
    </mat-tab>
    <mat-tab label="Restaurar clientes eliminados">
        <ng-template matTabContent>
            <div class="col-lg-12 contenedores">
                <app-clientes-restaurar></app-clientes-restaurar>
            </div>
        </ng-template>
    </mat-tab>
</mat-tab-group>