<div class="row">
    <form class="col-lg-8">
        <div class="container-fluid">
            <mat-card>
                <div class="row">
                    <div class="col-lg-6 col-md-6">

                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Fecha</mat-label>
                            <input matInput [matDatepicker]="picker" [formControl]="fecha" placeholder="Choose a date">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Usuario</mat-label>
                            <input matInput type="text" [(ngModel)]="usuario" name="usuario2" #usuario2="ngModel"
                                disabled>
                            <mat-icon matSuffix>account_box</mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <mat-form-field class="full-width" appearance="outline">
                                    <mat-label>Cantidad inicial/Fondo</mat-label>
                                    <input matInput type="text">
                                    <mat-icon matPrefix>attach_money &nbsp;</mat-icon>
                                    <mat-icon matSuffix>add</mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <h5>Cantidades actuales</h5>
                                <hr>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <mat-form-field class="full-width" appearance="outline">
                                    <mat-label>Efectivo</mat-label>
                                    <input matInput type="text">
                                    <mat-icon matPrefix>attach_money &nbsp;</mat-icon>
                                    <mat-icon matSuffix>add</mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <mat-form-field class="full-width" appearance="outline">
                                    <mat-label>Tarjetas</mat-label>
                                    <input matInput type="text">
                                    <mat-icon matPrefix>attach_money &nbsp;</mat-icon>
                                    <mat-icon matSuffix>add</mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">

                        <div class="row">
                            <mat-divider [vertical]="true"></mat-divider>

                            <div class="col-lg-12 col-md-12">
                                <h5>Cantidades esperadas</h5>
                                <hr>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <span> <strong>Efectivo:</strong> </span> $9000 <br>
                                <span> <strong>Tarjetas:</strong> </span> $9000
                            </div>
                            <div class="col-lg-12 col-md-12" style="position: absolute; bottom: 0; margin-bottom: 27px;">
                                <button mat-raised-button class="full-width" color="primary" style="height: 60px;" (click)="procesar()">Procesar</button>
                            </div>
                        </div>
                    </div>
                </div>


            </mat-card>
        </div>
    </form>
    <mat-card class="col-lg-4 corte" *ngIf="procesado">

    </mat-card>
</div>